<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>BlindTest</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>Index</display-name>
		<servlet-name>Index</servlet-name>
		<servlet-class>servlet.Index</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Index</servlet-name>
		<url-pattern>/Index</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Connection</display-name>
		<servlet-name>Connection</servlet-name>
		<servlet-class>servlet.Connection</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Connection</servlet-name>
		<url-pattern>/Connection</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Inscription</display-name>
		<servlet-name>Inscription</servlet-name>
		<servlet-class>servlet.Inscription</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Inscription</servlet-name>
		<url-pattern>/Inscription</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GestionPartie</display-name>
		<servlet-name>GestionPartie</servlet-name>
		<servlet-class>servlet.GestionPartie</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GestionPartie</servlet-name>
		<url-pattern>/GestionPartie</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>StatistiquePartie</display-name>
		<servlet-name>StatistiquePartie</servlet-name>
		<servlet-class>servlet.StatistiquePartie</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StatistiquePartie</servlet-name>
		<url-pattern>/StatistiquePartie</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>AjouterMusique</display-name>
		<servlet-name>AjouterMusique</servlet-name>
		<servlet-class>servlet.AjouterMusique</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AjouterMusique</servlet-name>
		<url-pattern>/AjouterMusique</url-pattern>
	</servlet-mapping>
</web-app>
